/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Set core root defaults */
html {
	font-family: var(--font-family);
	font-weight: var(--font-weight-400);
	font-size: 62.5%;
	/*
    1rem = 16px
    1rem * 62.5% = 10px
    If all font sizes = 62.5% than rem * 0.625
    1rem = 10px; 0.1rem = 1px; 2.4rem = 24px...      
    */
	color: var(--color-font-primary);
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	font-size: var(--font-size-body);
	line-height: 1.6;
	text-rendering: optimizeSpeed;
}

/* Remove default margin and paddings */
body,
h1,
p,
button,
textarea {
	margin: 0;
	padding: 0;
}

/* Inherit styles for button and textarea */
button,
textarea {
	font-family: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
